/* Styles for screen sizes up to 600px */

/* Styles for screen sizes up to 600px */
@media (min-width: 0px) and (max-width: 600px) {
    .headerr .navbar-brand img{
     padding-top: 50px;
     padding-left: 70px;
     width: 250px;
    }
    .contact-det{
     top: 600px !important; 
     right: 115px;
    }
    .portfolioo  a {
     font-family: 'Archivo Black', sans-serif;
     background-color: #000;
     color: #fff;
     position: absolute;
     font-size: 18px;
     left: calc(50% - 140px);
     top: 78px;
     text-decoration: none;
     padding: 8px 16px;
     border-radius: 32px;
     animation-duration: 1200ms;
     animation-name: blink;
     animation-iteration-count: infinite;
     animation-direction: alternate;
     -webkit-animation: blink 1200ms infinite;
     /* Safari and Chrome */
 }
 
 svg {
     max-width: 14px;
     width: 14px;
     margin-left: 8px;
 }
 
 .caption{
     padding-top: 100px !important;
 }
 .font-sizee {
     margin-left: 70px;
     font-size: 30px !important;
     display: flex;
 }
 .font-cover{
    padding: 2PX;
 }
 
 .star-sym {
     display: flex;
     width: 20px !important;
 }
 
 .main-img img{
     width:70%;
     height:70%;
     top: 90px; 
     right: 80px; 
     position: absolute;
 }
 
 .font-sub h1{
     padding-top: 400px;
     letter-spacing: 2px;
     padding-left: 70px;
     padding-right: 60px;
     font-size: 15px;
 }
 
    
 }

        /* Styles for screen sizes between 600px and 1024px */
        @media (min-width: 601px) and (max-width: 1024px) {
            .headerr .navbar-brand img{
                padding-left: 90px;
                width: 400px;
               }
        
            .main-logo-row{
                padding-top: 50px;
            }
            .contact-det{
                top: 830px !important; 
                right: 230px;
                font-size: 25px !important;
            }
            .caption{
                padding-top: 40px;
            }
            .font-sizee {
                font-size: 60PX !important;
                margin-left: 50px;
            }
        
           
            .font-sub h1{
                letter-spacing: 2px;
                padding-left: 120px;
                padding-top: 590px;
            }

            .main-img img{
                width:80%;
                height:80%;
                top: 120px; 
                right: 80px; 
                position: absolute;
            }
            .star-sym{
                width: 50px;
            }
        
            .portfolioo a {
                font-family: 'Archivo Black', sans-serif;
                background-color: #000;
                color: #fff;
                position: absolute;
                font-size: 28px;
                right: 30px;
                top: 30px;
                text-decoration: none;
                padding: 8px 24px;
                border-radius: 32px;
                animation-duration: 1200ms;
                animation-name: blink;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                -webkit-animation: blink 1200ms infinite;
                /* Safari and Chrome */
            }
        
            svg {
                max-width: 22px;
                width: 22px;
                margin-left: 12px;
            }
        }

        /* Styles for screen sizes between 1024px and 1280px */
        @media (min-width: 1025px) and (max-width: 1280px) {
            .headerr .navbar-brand img{
                padding-left: 90px;
                width: 400px;
               }
        
            .main-logo-row{
                padding-top: 25px;
            }
            .contact-det{
                top: 100px; 
                right: 10px;
            }
            .caption{
                padding-top: 40px;
            }
            .font-sizee {
                margin-left: 50px;
            }
        
            .contact-det{
                top: 100px; 
                right: 150px;
            }
        
            .font-sub h1{
                letter-spacing: 2px;
                padding-left: 173px;
            }
        
            .portfolioo a {
                font-family: 'Archivo Black', sans-serif;
                background-color: #000;
                color: #fff;
                position: absolute;
                font-size: 28px;
                right: 30px;
                top: 30px;
                text-decoration: none;
                padding: 8px 24px;
                border-radius: 32px;
                animation-duration: 1200ms;
                animation-name: blink;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                -webkit-animation: blink 1200ms infinite;
                /* Safari and Chrome */
            }
        
            svg {
                max-width: 22px;
                width: 22px;
                margin-left: 12px;
            }
        }

        /* Styles for screen sizes between 1280px and 1580px */
        @media (min-width: 1281px) and (max-width: 1580px) {
            .headerr .navbar-brand img{
                padding-left: 0px !important;
                width: 600px;
            }
        
            .main-logo-row{
                padding-top: 60px;
            }
            .contact-det{
                top: 160px !important; 
                font-size: 22px;
                right: 100px;
                
            }
            .caption{
                padding-top: 80px;
                margin-left: 70px !important;
            }
            .font-sizee {
                
                font-size: 140px !important;
            }
        
           
            .main-img img{
                width: 90% !important;
                height: 90% !important;
                max-width: 768px;
                top: 110px;
                right: 400px;
                position: fixed;
            }
        
            .font-sub h1{
                letter-spacing: 2px;
                padding-left: 135px !important;
                font-size: 45px !important;
            }

            .star-sym {
                width: 100px;
            }
        
            .portfolioo a {
                font-family: 'Archivo Black', sans-serif;
                background-color: #000;
                color: #fff;
                position: absolute;
                font-size: 28px;
                right: 30px;
                top: 40px;
                text-decoration: none;
                padding: 8px 24px;
                border-radius: 32px;
                animation-duration: 1200ms;
                animation-name: blink;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                -webkit-animation: blink 1200ms infinite;
                /* Safari and Chrome */
            }
        
            svg {
                max-width: 22px;
                width: 22px;
                margin-left: 12px;
            }
        }

        /* Styles for screen sizes between 1580px and 1920px */
        @media (min-width: 1581px) and (max-width: 1920px) {
            .headerr .navbar-brand img{
                padding-left: 0px !important;
                width: 600px;
            }
        
            .main-logo-row{
                padding-top: 60px;
            }
            .contact-det{
                top: 160px !important; 
                font-size: 22px;
                right: 100px;
                
            }
            .caption{
                padding-top: 80px;
                margin-left: 160px !important;
            }
            .font-sizee {
                
                font-size: 160px !important;
            }
        
           
            .main-img img{
                width: 100% !important;
                height: 100% !important;
                max-width: 768px;
                top: 100px;
                right: 490px;
                position: fixed;
            }
        
            .font-sub h1{
                letter-spacing: 2px;
                padding-left: 225px !important;
                font-size: 45px !important;
            }

            .star-sym {
                width: 100px;
            }
        
            .portfolioo a {
                font-family: 'Archivo Black', sans-serif;
                background-color: #000;
                color: #fff;
                position: absolute;
                font-size: 28px;
                right: 30px;
                top: 40px;
                text-decoration: none;
                padding: 8px 24px;
                border-radius: 32px;
                animation-duration: 1200ms;
                animation-name: blink;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                -webkit-animation: blink 1200ms infinite;
                /* Safari and Chrome */
            }
        
            svg {
                max-width: 22px;
                width: 22px;
                margin-left: 12px;
            }
        }

        /* Styles for screen sizes between 1920px and 2500px */
        @media (min-width: 1921px) and (max-width: 2500px) {
            .headerr .navbar-brand img{
                
                width: 600px;
            }
            .main-logo{
                padding-left: 0px !important;
            }
            .main-logo-row{
                padding-top: 60px;
            }
            .contact-det{
                top: 160px !important; 
                font-size: 22px;
                right: 100px;
                
            }
            .caption{
                padding-top: 80px;
                margin-left: 160px !important;
            }
            .font-sizee {
                
                font-size: 180px !important;
            }
        
           
            .main-img img{
                width: 100% !important;
                height: 100% !important;
                max-width: 768px;
                top: 100px;
                right: 630px !important;
                position: fixed;
            }
        
            .font-sub h1{
                letter-spacing: 2px;
                padding-left: 275px !important;
                font-size: 45px !important;
            }

            .star-sym {
                width: 100px;
            }
        
            .portfolioo a {
                font-family: 'Archivo Black', sans-serif;
                background-color: #000;
                color: #fff;
                position: absolute;
                font-size: 28px;
                right: 30px;
                top: 40px;
                text-decoration: none;
                padding: 8px 24px;
                border-radius: 32px;
                animation-duration: 1200ms;
                animation-name: blink;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                -webkit-animation: blink 1200ms infinite;
                /* Safari and Chrome */
            }
        
            svg {
                max-width: 22px;
                width: 22px;
                margin-left: 12px;
            }
        }