body {
	height: 100vh;
}
.main-img img{
    width:100%;
    height:100%;
    max-width:768px; 
    top: 50px; 
    right: 250px; 
    position: fixed;
}
.body-class{
    background-color: black;
    overflow: hidden;
}
.navbar-brand img{
    max-width: 30%;
    padding:0;
}
.section-container{
   padding: 0% 10% 3% 10%;
}
.logo-container{
	padding-top: 30px;
	padding-bottom: 50px;
}
.font-sizee{
    margin-bottom: 0;
    font-family: 'OPTIVenus-BoldExtended' !important;
    font-size: 105px !important;
    color: #fff !important; 
    letter-spacing: 2px;
}
.font-sub h1{
    font-family: Segoe UI ;
    font-size: 30px !important;
    color: #fff !important;
    letter-spacing: 2px;
    padding-left: 160px;
}

.star-sym {
    display: flex;
    width: 80px;
}
.portfolioo a {
    font-family: 'Archivo Black', sans-serif;
    background-color: #000;
    color: #fff;
    position: absolute;
    font-size: 28px;
    right: 30px;
    top: 30px;
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 32px;
    animation-duration: 1200ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation: blink 1200ms infinite;
    /* Safari and Chrome */
}
svg {
    max-width: 22px;
    width: 22px;
    margin-left: 12px;
}

.main-text{	
	font: 700 normal 8vw 'OPTIVenus-BoldExtended', Sans-serif !important;
	line-height: 0.98 !important;
    letter-spacing: -0.5vw;
	margin-bottom: 0;
    color: #fff !important; 	
}

.sub-text h1{
	font: 500 normal 1.6vw 'OPTIVenus-BoldExtended', Sans-serif !important;
	line-height: 2vw !important;
    letter-spacing: 0.1vw;
	margin-bottom: 0;
    color: #fff !important; 
}
.pt20{
	padding-top: 20px;
}

.start-img-wrapper {
	margin-left: 15px;
	display: flex;
}

.start-img-wrapper .star-img {
	width: 6vw;	
}

.contact-details{
    color: #fff; 
    position: absolute; 
    top: 110px !important; 
    right: 100px;
}
.contact-details p{
    font-size: 1.5vw !important;
}
.contact-details p{
    font-size: 1.5vw !important;
}

.contact-details span{
    font-size: 1.8vw !important;
	font-weight: 800;
	color: #ffffff;
}

/* spinner */
.spinner {
    animation: spin 5s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* spinner */



.portfolioo a:hover {
    color: #fff;
}

@keyframes blink {
    0% {
        background-color: green;
    }

    25% {
        background-color: red;
    }

    50% {
        background-color: blue;
    }

    75% {
        background-color: purple;
    }

    100% {
        background-color: black;
    }
}

@-webkit-keyframes blink {
    0% {
        background-color: black;
    }

    25% {
        background-color: purple;
    }

    50% {
        background-color: blue;
    }

    75% {
        background-color: red;
    }

    100% {
        background-color: green;
    }


}



/*screen in */



 







/*responsive*/




@font-face {
    font-family: 'OPTIVenus-BoldExtended';
    src:url('../fonts/OPTIVenus-BoldExtended.ttf.woff') format('woff'),
        url('../fonts/OPTIVenus-BoldExtended.ttf.svg#OPTIVenus-BoldExtended') format('svg'),
        url('../fonts/OPTIVenus-BoldExtended.ttf.eot'),
        url('../fonts/OPTIVenus-BoldExtended.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}



/* animation */
#load-bg{
	background-color: rgb(255, 255, 255);
}
#load-bg {
	overflow: hidden;
	background-color: rgb(255, 255, 255);
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 9999;
	margin-top: 0px;
	top: 0px;
}
					
.motion-effects-layer {
  overflow: hidden;	
  transition-property: transform,opacity;
  transition-timing-function: cubic-bezier(0,.33,.07,1.03);
  transition-duration: 1s;
}

.motion-effects {	
	--translateX: 0px;
	  --e-transform-transition-duration: 100ms;
	  transform: translateX(0px);
}
.mobile-tab {
	display: none !important;
}
@media only screen and (max-width: 1279px) {
	.desktop-line {
		display: none;
	}
	
	.mobile-tab {
		display: block !important;  
		margin-top: 100px;
	}
	.mobile-tab .contact-details {
		position: inherit;
	}
	.logo-container .contact-details {
		display: none;
	}
}/* 
@media only screen and (min-width: 768px) and (max-width: 1279px) { 
	.mobile-tab { 
		position: relative;
		bottom: -120px;
		z-index: 9;
	} 
} */
@media only screen and (max-width: 767px) {
	 
	.mobile-tab { 
		text-align: center;
		z-index: 9;
		position: relative;
	}
	.contact-details span,
	.contact-details p {
		font-size: 16px !important;
	}
	.sub-text h1 {
		font-size: 16px !important;
		line-height: 20px !important;
	}
	.navbar-brand img {
		padding-top: 0 !important;
		padding-left: 0 !important;
		max-width: 100%;
	}
	.portfolioo a {
		position: inherit !important;
		margin-top: 20px !important;
		display: table;
	}
	.main-img img {
		top: 120px !important;
	}
}